*{
  margin: 0px;
  padding: 0px;
}
.home{
  border: 1px solid #171c7a;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #2f8be0;
}
.home a{
  color: #d2d2d4 !important;
}
.facebook{
  border: 1px solid #0085ff;
  border-radius: 5px;
  margin-right: 10px;
}
.facebook a{
  color: #0085ff !important;
}
.github{
  border: 1px solid #0085ff;
  border-radius: 5px;
}
.contribute, .contact, .aboutus, .library, .access{
  border-top: 1px solid #ababab;
  border-bottom: 1px solid #ababab;
  border-left: 1px solid #ababab;
}
.library, .contribute{
  margin-right: 10px;
  border-right: 1px solid #ababab;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.access, .aboutus{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.mainmenu li:hover{
  background-color: #d2d2d4 !important;
}
.mainmenu li a:hover{
  color: #171c7a !important;
}
.active{
  background-color: #d2d2d4 !important;
}
.active a{
  color: #171c7a !important;
}
